.game-container {
  border: 1px solid silver;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.cell {
  border: 1px solid silver;
  width: 25%;
  height: 25%;
  box-sizing: border-box;
  position: relative; 
  padding: 7.5px 7.5px;
}

.goblin {
  background-color: red;
  width: 100%;
  height: 100%;
  background-image: url("../img/goblin.png"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}