.game-container {  
  width: 400px;
  height: 400px;  
  display: flex;
  flex-wrap: wrap;
}



.cell {
 width: 25%;
    height: 25%;
    box-sizing: border-box;
    border: 1px solid black;
}

.goblin {
  background-color: red;
  width: 100%;
  height: 100%;
  background-image: url("../img/goblin.png"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

img {
    width: 100%;
}

